/*#region dashboard-content */
.dashboard-content {
  .dashboard-content-container {
    display: grid;
    will-change: display;
    transition: var(--tran-03);
    &.sidebar-opend {
      grid-template-columns: var(--sidebar-width-open) auto;
    }
    &.sidebar-closed {
      grid-template-columns: var(--sidebar-width-close) auto;
    }
    grid-template-rows: 100%;
    grid-template-areas: "dashboard-sidebar main-content-container";
    .dashboard-sidebar {
      position: relative;
      grid-area: dashboard-sidebar;
      &.sidebar-opend {
        width: var(--sidebar-width-open);
        max-width: var(--sidebar-width-open);
      }
      &.sidebar-closed {
        width: var(--sidebar-width-close);
        max-width: var(--sidebar-width-close);
      }
    }
    .main-content-container {
      grid-area: main-content-container;
    }
  }
}

/*#region dashboard-sidebar */
@import url("./dashboard-sidebar.scss");
/*#endregion dashboard-sidebar */

/*#endregion dashboard-content */
